.header{
    padding: 28px 0;
}
.transform-middle{
    transform: translate(-50%,-50%);
}
nav li{
    margin-right: 32px;
    span{
        position: relative;
        p{
            position: absolute;
            background-color: #E31277;
            border-radius: 50%;
            color: #fff;
            top: -5px;
            right: -5px;
            font-size: 14px;
        }
    }
}
.center{
    left: 50% !important;
    top: 50% !important;
}
.footer{
    padding: 28px 85px;
}
.fb-icon{
    width: 24px;    
    height: 24px;
}
.cartinputgroup{
    width: 100px;
    height: 24px;
}
.cartlist-item{
    height: 172px;
    padding: 28px 32px 24px 32px;
}
.cartlist-img{
    width: 120px;
}
.cartlist-close{
    position: absolute;
    top: 0;
    left: 0;
}
.btn-cartlist{
    color:#630834;
}