.font-xs{
    font-size: 16px;
}
.font-s{
    font-size: 20px;
}
.font-m{
    font-size: 24px;
}
.font-l{
    font-size: 28px;
}
.font-xl{
    font-size: 32px;
}
.font-xxl{
    font-size: 36px;
}
.font-3xl{
    font-size: 40px;
}
.mb20{
    margin-bottom: 20px;
}
.mb60{
    margin-bottom: 60px;
}
.w-120{
    width: 120px;
}
.w-540{
    width: 540px;
}
.h-120{
    height: 120px;
}
.h-480{
    height: 480px;
}
.h-400{
    height: 400px;
}
.h-720{
    height: 720px;
}
.top-50{
    top: 50% !important;
}
.top-70{
    top: 70px;
}
.left-50{
    left: 50% !important;
}
.p-0{
    padding: 0 !important;
}
.bg-black{
    background-color: #000 !important;
}
.bg-dark{
    background-color: #212529 !important;
}